extends layout

append script
	+script('script/manage.js')
	+script('public/lib/pnotify/pnotify.custom.min.js')

append css
	+css('public/lib/pnotify/pnotify.custom.min.css')

block content
	.row.contract-spend
		.col-sm-6.contract
			h2 Pay to contract
			h4.multisig-addr
			h4.text-muted Balance: #[span.balance]
			.multisig-qr
						
		.col-sm-6
			h2 Run smart contract
			.form-group
				textarea(rows=10, readonly).form-control.input-xxlarge.contract-script
			button.btn-primary.btn.btn-lg.run Execute Contract Script
