extends layout
block content
	.row
		.col-md-6.contract
			h2 Pay to contract
			.multisig.well
			.qrcode
						
		.col-md-6
			h2 Run contract
			textarea(rows=10, readonly).form-control.input-xxlarge gadlgdalgaad
			button.btn-primary.btn Run script
