div.modal.fade.tx-info(id="myModal")
  div.modal-dialog
    div.modal-content
      div.modal-header
        button.close(data-dismiss="modal", aria-label="Close")
        h4.modal-title Transaction Info
      div.modal-body
        p Multisig address
        
        div.multisig.well= multisig_addr
        img.float-right(src=multisig_qr)
        p Use this url to run the script provided...
        div.validation-url.well= url
      div.modal-footer
        button.btn.btn-primary Ok, got it
