extends templateform

append vars
	- active = 'twitter'

block headline
	h2 Social Marketing Contract

prepend script-def
	.row
		.col-md-6
			.form-group
				label(for="screen_name") Twitter screen name
				input.form-control.input-lg(placeholder="e.g. johndue", data-tmpl-name="twitter_user", required)
		
		.col-md-6
			.form-group
				label(for="needed_followers") Promised Followers
				input.form-control.input-lg(placeholder="e.g. 100", data-tmpl-name="needed_followers", data-tmpl-num, required)

	.row
		.col-md-6
			.form-group
				label(for="company_address") Payment Address
				input.form-control.input-lg(placeholder="e.g. mxRN6AQJaDi5R6KmvMaEmZGe3n5ScV9u33", data-tmpl-name="company_address", required)
	
		.col-md-6
			.form-group
				label(for="customer_address") Refund Address
				input.form-control.input-lg(placeholder="e.g. mrj2K6txjo2QBcSmuAzHj4nD1oXSEJE1Qo", data-tmpl-name="customer_address", required)

append script-def
	.row
		.col-md-6
			.form-group
				label(for="expiration_date") Expiration date
				input.form-control.input-lg(data-tmpl-name="expiration_date", data-tmpl-time, value=expiration_date, required)
