extends templateform

block
	h2 Create Followers Contract
block script-def
	.form-group
		label(for="needee_followers") Needed followers
		input.form-control(name="needed_followers", required)

	.form-group
		label(for="screen_name")  Twitter screen name
		input.form-control(name="screen-name", required)

	.form-group
		label(for="company_address")  The social marketing company bitcoin address
		input.form-control.input-lg(name="company_address", required)
	
	.form-group
		label(for="customer_address")  The customer bitcoin address
		input.form-control.input-lg(name="company_address", required)

