extends templateform

block headline
	h2 Create SEO Contract

prepend script-def
	.row
		.col-md-6
			.form-group
				label(for="keyword") Search keyword
				input.form-control.input-lg(placeholder="e.g. buy laptop", data-tmpl-name="keyword", required)
		.col-md-6
			.form-group
				label(for="option_type") Promised ranking
				.input-group
					.input-group-addon Top
					input.form-control.input-lg(placeholder="e.g. 10", data-tmpl-name="rank", data-tmpl-num)
	.row
		.col-md-6
			.form-group
				label(for="url") Website url
				input.form-control.input-lg(placeholder="e.g. http://www.google.com/", data-tmpl-name="url", required)
		.col-md-6
			.form-group
				label(for="expiration_date") Expiration date
				input.form-control.input-lg(data-tmpl-name="time", value=expiration_date, required, data-tmpl-time)
	.row
		.col-md-6
			.form-group
				label(for="company_address") The SEO company bitcoin address
				input.form-control.input-lg(placeholder="e.g. mxRN6AQJaDi5R6KmvMaEmZGe3n5ScV9u33", data-tmpl-name="company_address", required)
		.col-md-6
			.form-group
				label(for="customer_address") The customer bitcoin address
				input.form-control.input-lg(placeholder="e.g. mrj2K6txjo2QBcSmuAzHj4nD1oXSEJE1Qo", data-tmpl-name="customer_address", required)
