mixin css(path)
	link(rel="stylesheet" href=path)

mixin script(path)
	script(type="text/javascript" src=path)

block vars
	- active = null

doctype
html
	head
		block css
			+css("public/lib/bootstrap/bootstrap.min.css")
			+css("public/css/style.css")

		block script
			+script("https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
			+script("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")

		title TheOracle
		
	body
		header
			nav.navbar.navbar-inverse(role='navigation')
				.container
					.navbar-header
						a.navbar-brand(href='/') TheOracle	
						ul.nav.navbar-nav.navbar-left
							li(class=(active=='twitter'?'active':'')): a(href="/followers") Social Marketing
							li(class=(active=='seo'?'active':'')): a(href="/google") SEO Contract
							li(class=(active=='binary'?'active':'')): a(href="/bitcoin_binary") Binary Option
		.container
			block content

		footer.container
			p.text-muted The Oracle v0.0.1
