extends templateform

block headline
	h2 Create contract

prepend script-def
	.form-group
		label(for="script") Smart Contract Script #[small (CoffeeScript)]
		textarea.form-control(rows="7", name="contract-script" required)
			| # Just as an example - always send everything to the address
			| out null, payto 'n2t7tyoW5LLndXVrzgmm1zVSEkJ8jnbHWj'
