extends templateform

append script
	+script('script/new.js')

block headline
	h2 Create contract

prepend script-def
	.form-group
		label(for="script") Script
		textarea.form-control(rows="15", name="contract-script" required)
			| out null, payto 'n2t7tyoW5LLndXVrzgmm1zVSEkJ8jnbHWj'
