extends layout
block content
	p Description will be here

	form(name="conf", action="", method="POST")
		.form-group
			label(for="script")  Script
			textarea.form-control(cols="20", name="script")
		
		.form-group
			label(for="userakey") User A public Key
			input.form-control.input-lg(type="text", name="userakey")
	
		.form-group
			label(for="userbkey") User B Public Key
			input.form-control.input-lg(type="text", name="userbkey")
			
		.form-group
			label(for="oraclemaster") Oracle master key
			input.form-control.input-lg(type="text", name="oraclemaster")
		
		input.btn.btn-primary(type="submit", value="Get Multisig address")

