.contract.well,
.tx-info .well {
  padding: 15px;
  margin: 3px 0 3px;
  border-radius: 0;
  font-family: monospace;
  font-size: 1.2em;
  background: #f8eee4;
  box-shadow: none;
  -webkit-box-shadow: none;
}
label {
  font-size: 1.2em;
}
footer {
  margin: 2em 0;
}
.btn-cntr {
  text-align: center;
}
.btn-cntr .btn {
  margin: 0 auto;
}
.contract-spend > div {
  text-align: center;
}
